[package]
name = "trustchain-api"
version = "0.1.0"
authors = ["Trustchain Devs"]
edition = "2021"


[dependencies]
trustchain-core = { path = "../trustchain-core" }
trustchain-ion = { path = "../trustchain-ion" }
ps_sig = { git = "https://github.com/alan-turing-institute/RSS.git", branch = "new_rss-vc-signing" }

async-trait = "0.1"
serde_json = "1.0"
ssi = "0.4"
did-ion = "0.1.0"
futures = "0.3.28"

[dev-dependencies]
tokio = {version = "1.20.1", features = ["full"]}
