# Trustchain: systemd template for IPFS
# Based on:
# https://git.shivering-isles.com/github-mirror/ipfs/go-ipfs/-/tree/master/misc/systemd

[Unit]
Description=InterPlanetary File System (IPFS) daemon
Documentation=https://docs.ipfs.tech/
After=network.target

[Service]
#don't use swap
MemorySwapMax=0

# Don't timeout on startup. Opening the IPFS repo can take a long time in some cases (e.g., when
# badger is recovering) and migrations can delay startup.
TimeoutStartSec=infinity

StateDirectory=ipfs
Environment=IPFS_PATH={{HOME}}
ExecStart=/usr/local/bin/ipfs daemon
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=default.target
