<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>foundation.identity.ion</string>
    <key>StandardOutPath</key>
    <string>{{STDOUT_DIR}}/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{STDERR_DIR}}/stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>IPFS_LAUNCHD</key>
      <string>{{IPFS_LAUNCHD}}</string>
      <key>MONGODB_LAUNCHD</key>
      <string>{{MONGODB_LAUNCHD}}</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>{{ION_BIN}}</string>
  </array>
  </dict>
</plist>
