[package]
name = "trustchain-cli"
version = "0.1.0"
authors = ["Trustchain Devs"]
edition = "2021"

[[bin]]
name = "trustchain-cli"
path = "src/bin/main.rs"

[dependencies]
trustchain-core = { path = "../trustchain-core" }
trustchain-ion = { path = "../trustchain-ion" }
trustchain-api = { path = "../trustchain-api" }

ssi = "0.4"
clap = { version = "~4.0", features=["derive", "cargo"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
did-ion = "0.1.0"
tokio = {version = "1.20.1", features = ["full"]}
toml="0.7.2"
lazy_static="1.4.0"
